html{
    font-size:10px;
    color: darkblue;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-image: linear-gradient(45deg, rgb(245, 185, 94), rgb(113, 230, 214), rgb(52, 52, 226));
}
h1{
    width:100%;
    text-align: center;
    font-size:5rem;
    padding-block:1em
}
form{
    background-color:#fff;
    box-shadow:  0 2px 4px 1px rgb(0 0 0 / 40%), 0 8px 16px 1px rgb(0 0 0 / 40%);
    width:55%;
    margin-inline:auto;
    padding:4em;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(135deg, rgb(230, 164, 42), rgb(233, 59, 59));
    padding-inline:6em;
    border-radius:20px;
}
input, #result{
    width:100%;
    padding:1em;
    padding-inline-start:2em;
    margin-block:1em;
    margin-inline-start: -1em;
    color:rgb(22, 23, 26);
    border-radius: 10px;
}
#result{
    background-color:#fff;
    aspect-ratio: 25/1;
    text-align: center;
    font-size:2rem;
    font-family:Arial, Helvetica, sans-serif;
    width:100%;
    padding-block-end:.5em;
}
button{
    cursor: pointer;
    width:100%;
    padding:2em;
    padding-block:1em;
    border:0;
    background-image: linear-gradient(30deg, black,white, black);
    border-radius:30px;
    margin-block-start: 2em;
}
input:focus{
    outline-offset:3px;
    outline:5px solid #9e437f;
}
label{
    font-size:2rem;
    color: #420042;
    font-weight: 600;
}